* {
  font-family: "Gill Sans", sans-serif;
}

body {
  background-color: #21374B;
  margin: 0;
  font-size: 1.5em;
  color: #E7DACB;
  text-align: center;
}

.logo {
  width: 70%;
  max-width: 300px;
  margin-bottom: 10px;
}

.parcel {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 120px;
  position: relative;
}

.parcel img {
  width: 100%;
}

.parcel img:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

